/* Apply font size and type */
body {
    font: 18px Georgia, 'Times New Roman', Serif;
    box-sizing: border-box;
    letter-spacing: 2px;
    text-rendering: optimizeLegibility;
}

/* Centering text, font size, letter spacing to headers and paragraph */
h2 {
    text-align: center;
    font: 1.75em normal;
    letter-spacing: 3px;
}

/* Fixes footer at top */
header {
    height: 65px;
    border: 0 0 12px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 15px rgb(153, 153, 153);
    z-index: 2;
}

header .container {
    margin: 0 auto;
    max-width: 1400px;
    height: 65px;
    padding: 20px 10px 0 0;
}

a { 
    color: black;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: 0 15px 0 0;    
}

/* Apply styling to Logo item */
.logo {
    float: left;
}


nav .content {
    float: right;
}


/* Restricting main content and centering */
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* Image positioning  and resizing*/
.banner {
    margin: 65px auto;
    max-width: 1300px;
    position: relative;
}
.banner img {
    width: 100%;
    z-index: -1;
    position: relative;
}

/* Position `p` to align with image */
.banner h1 {
    z-index: 0;
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    color: rgb(126, 126, 126);
}

/* Distance between sections */
section {
    margin: 0 0 25px 0;
}

/* Content size and spacing */
section .content {
    max-width: 1000px;
    margin: 0 auto;
    height: calc(100vh - 100px);
    border-bottom: 1px solid #dbdbdb;
    padding: 5% 0 5% 0;
}

/* Over writing padding space for ABOUT section */
#about .content {
    padding: 0 0 5% 0;
}

/* Image position and size with respect to section */
#about .content .image-wrap {
    padding: 30px 0 10px 0;
    width: 45%;
}

#about .content .image-wrap img {
    width: 100%;
    float: left;
}

/* Text content of section about */
#about .content .text-wrap {
    float: right;
    width: 50%; 
}

#about h3 {
    padding: 15px;
    font: 18px normal;
    text-align: center;
}

#about p {
    letter-spacing: 1px;
    line-height: 2;
    font: 18px normal;
}

/* Change color of last paragraph */ 
#about .text-wrap p:last-child {
    color: rgb(153, 153, 153);
}

/* Highlight text with color */
#about span {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 1px 3px 1px 3px;
}


/* Image position and size with respect to section */
#menu .content {
    height: calc(100vh - 65px);
    margin: 0 auto;
}

#menu .content .image-wrap {
    height: calc(100vh - 65px);
    width: 45%;
    float: right;
}
#menu .content .image-wrap img {
    width: 100%;
    float: right;
}

/* Text content of section about */
#menu .content .text-wrap {
    float: left;
    width: 50%; 
}

/* Centering text, font size, letter spacing to headers */

#menu .text-wrap p:nth-child(odd){
    letter-spacing: 3px;
    font-size: 20px;
    padding: 10px 0 0 0;
}
#menu .text-wrap p:nth-child(even) {
    font-weight: normal;
    letter-spacing: normal;
    font-size: 16px;
    color: rgb(153, 153, 153);
    padding: 0 0 20px 0;
}

/* Adding height and removing border from Contact section */
#contact .content {
    border-bottom: none;
}

/* Styling `h2` tag of contact section */
#contact h2 {
    font-weight: normal;
    letter-spacing: 3px;
    text-align: left;
    padding: 0 0 30px 0;
}

/* Styling `p` tag of contact section */
#contact p {
    font: 16px normal;
    letter-spacing: normal;
}

/* Styling `h4` tag of contact section */
#contact p:nth-child(3) {
    color: #617d91;
    font: 18px bold;
}

/* Spacing between form elements */
form {
    margin: 50px 0 0 0;
}

/* Removing borders and adjusting width of input elements */
form input[type="text"],
form input[type="number"],
form input[type="datetime-local"]  {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 0 15px 10px;
    border: none;
    border-bottom: 1px solid rgb(153, 153, 153);
}

/* Customizing button */
form input[type="submit"] {
    border: none;
    margin: 10px 0 0 0;
    padding: 10px 15px 10px 15px;
}

/* Font color of placeholder value */
::placeholder {
    color: rgb(150, 150, 150);
}

/* Removes highlight box on focus */
input:focus {
    outline: none;
}

/* Position footer and setting color */
footer {
    position: absolute;
    height: 85px;
    width: 100%;
    background-color: #f1f1f1;
}


/* Aligning text to center */
footer p {
    padding: 15px;
    text-align: center;
}








