@charset "utf-8";
/* CSS Document */

/* CSS DocumentProject: Gardener Website
----------------------------------------------------------------------------------------------------------*/

/*------------------Layout,Table of Contents-----------------------------------------------------------------
1. BASIC STYLING FOR COMMON HTML ELEMENTS
2. TYPOS
3. COMMON CSS CLASSES
4. SKELETON
5. HEADER SECTION
6. BODY SECTION
7. FOOTER SECTION
8. MEDIA QUERIES
-----------------------------------------------------------------------------------------------------------*/

/*................................................
    1. BASIC STYLING FOR COMMON HTML ELEMENTS
.................................................*/

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope-Medium", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0 0 20px 0;
}

body {
  font-size: 16px;
  color: #656565;
  background-color: #f7f6f4;
  line-height: 30px;
  
}

a,
a:hover,
a:focus {
  border: 0;
  outline: none;
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button,
input[type="button"],
input[type="submit"] {
  border: 0;
  outline: none;
}


/*................................................
    2. TYPOS
.................................................*/
@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-ExtraLight';
    src: url('../fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Light';
    src: url('../fonts/Manrope-Light.woff2') format('woff2'),
        url('../fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-SemiBold';
    src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../fonts/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
        url('../fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*................................................
    3. COMMON CSS CLASSES
.................................................*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.row-align {
    display: flex;
    flex-direction: row;
    
}

.column-align {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
}

a:hover {
    color: #709d61;
}

h2 { /* title h2*/
    font: 45px "Manrope-Bold";
    color: #000000;
    margin: 0 0 20px 0;
}

h3 {
    font: 20px "Manrope-Bold";
    color: #000000;
    margin: 0 0 20px 0;
}

.secondary-color {
    color: #709d61;
}

.p { /* p tag */
    font: 16px "Manrope-Medium";
    margin: 0 0 20px 0;
}

section {
    margin: 0 0 60px 0;
}

.center-align {
    text-align: center;
}

.icon-modifier img {
    background-color: rgb(240, 241, 236);
    border-radius: 40px;
    padding: 15px;
    margin: 0 0 25px 0;
}

.wrap {
    flex-wrap: wrap;
}

/*................................................
    5. HEADER SECTION
.................................................*/

#header {
    padding: 25px 0; /* top and bottom = 25px */
}

.logo {
    align-self: center;
}

.main-nav__item {
    padding: 0 15px;
    font: 16px "Manrope-Medium";
    transition: transform .2s;
}

.main-nav__item:hover {
    transform: scale(1.5);
}

/*................................................
    6. BODY SECTION
.................................................*/

/*................................................
        6.1 BANNER SECTION(s)
.................................................*/

.block__text-content {
    flex: 0 0 50%;
}

.block__text-content > p,
.block__text-content > input[type="button"] {
    margin: 25px 0 0 0;
}

.block__text-content__button {
    background-color: #709d61;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    font: 16px "Manrope-Bold";
    border: 1px solid #709d61;
}

.block__text-content__button:hover {
    background-color:  #f7f6f4;
    color: #709d61;
    box-shadow: 1px 0 6px #709d61;  
}


/*................................................
        6.2 WHAT WE OFFER SECTION
.................................................*/


/*....................................................
        6.3 ABOUT SECTION
.....................................................*/
.about .block__text-content {
    align-self: baseline;
}

.about .block__text-content__button {
    background-color:#f7f6f4;
    color: #709d61;
    padding: 10px 25px;
    border-radius: 5px;
    font: 16px "Manrope-Bold";
    border: 1px solid #709d61;
}

.about .block__text-content__button:hover {
    background-color:#709d61;
    color: #f7f6f4 ;
    box-shadow: 1px 0 6px #f7f6f4 ; 
}

/*....................................................
        6.4 SERVICES SECTION
.....................................................*/

.service div div {
    text-align: left;
}

.service img {
    align-self: flex-start;
}

.service__content > div {
    padding: 20px 15px;
    transition: transform .2s;
}

.service__content > div:hover {
    background-color:#ffffff;
    transform: scale(1.05);
}

/*....................................................
        6.5 WORK WE DONE SECTION
.....................................................*/

.work-done--seperation > div {
    padding: 20px 15px;
    transition: transform .3s;
}

.work-done--seperation img {
    height: 220px;
    border-radius: 10px;
}

.work-done--seperation > div:hover {
    transform: scale(0.90);
    box-shadow:  1px 1px 10px 0 #000000;
}

/*....................................................
        6.6 TESTIMONIAL SECTION
.....................................................*/